@import "tailwindcss";

* {
    font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
}

.form {
    margin: 24px 12px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    color: #0ea5e9; /* primary blue */
    font-weight: 700;
}
